<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.piebridge.bible"
    android:sharedUserId="me.piebridge.bible"
    android:versionCode="86"
    android:versionName="0.12">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />

    <permission
        android:name="me.piebridge.bible.permission.ACCESS"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="me.piebridge.bible.permission.ACCESS" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/bible"
        android:label="@string/app_name"
        android:theme="@style/light">
        <activity
            android:name=".ReadingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name_ng"
            android:theme="@style/light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Chapter"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/chapter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Search"
            android:theme="@style/theme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Settings"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".Versions"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="application/zip"
                    android:pathPattern=".*\/bibledata-.*\\.zip"
                    android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Result"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".Passage"
            android:label="@string/searchinbible"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="search"
                    android:path="/"
                    android:scheme="bible" />
                <data
                    android:host="piebridge.me"
                    android:path="/search"
                    android:scheme="http" />
                <data
                    android:host="piebridge.me"
                    android:path="/search"
                    android:scheme="https" />
                <data
                    android:host="*.biblegateway.com"
                    android:pathPrefix="/passage"
                    android:scheme="http" />
                <data
                    android:host="*.biblegateway.com"
                    android:pathPrefix="/passage"
                    android:scheme="https" />
                <data
                    android:host="*.biblica.com"
                    android:pathPrefix="/bibles/chapter"
                    android:scheme="http" />
                <data
                    android:host="*.biblica.com"
                    android:pathPrefix="/bibles/chapter"
                    android:scheme="https" />
                <data
                    android:host="bibles.org"
                    android:pathPrefix="/search/"
                    android:scheme="http" />
                <data
                    android:host="bibles.org"
                    android:pathPrefix="/search/"
                    android:scheme="https" />
                <data
                    android:host="*.bibles.org"
                    android:pathPrefix="/search/"
                    android:scheme="http" />
                <data
                    android:host="*.bibles.org"
                    android:pathPrefix="/search/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".ResultActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/light" />

        <activity
            android:name=".CrossActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/light.dialog" />

        <activity
            android:name=".SelectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Light" />

        <activity
            android:name=".SelectVersionActivity"
            android:label="@string/choose_version"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Light" />

        <provider
            android:name=".Provider"
            android:authorities="me.piebridge.bible.provider"
            android:permission="me.piebridge.bible.permission.ACCESS" />
        <provider
            android:name=".Suggestion"
            android:authorities="me.piebridge.bible"
            android:permission="android.permission.GLOBAL_SEARCH" />

        <receiver android:name=".Receiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data
                    android:host="24253"
                    android:scheme="android_secret_code" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
