*, *::before, *::after { box-sizing: border-box; }
u.person { text-decoration: none; }
.pn, .person { border-bottom: 1px solid; }
.add { border-bottom: 1px dotted; }
.addpn { border-bottom: 1px dotted; box-shadow: 0 1px 0; }
.b { font-size: 1em; }
.d { font-style: italic; margin-bottom: 4pt; margin-top: 4pt; }
.ms { font-size: 1.2em; font-weight: bold; text-align: center; margin-bottom: 4pt; margin-top: 16pt; }
.p { text-indent: 0em; }
.q1 { margin-left: 1em; margin-top: 0em; margin-bottom: 0.1em; line-height: 1.2em; }
.qs { font-style: italic; margin-bottom: 0px; }
.r { font-style: italic; margin-top: -2pt; margin-bottom: 4pt; }
.s { font-weight: bold; margin-bottom: 4pt; margin-top: 8pt; }
.s2 { font-style: italic; margin-bottom: 4pt; margin-top: 8pt; }
.sp { font-style: italic; margin-bottom: 4pt; margin-top: 8pt; }
.li, .li1, .q2, .q3 { margin-left: 1em; margin-top: 0em; margin-bottom: 0.1em; line-height: 1.2em; }
span.level1 { display: block; margin-left: 0; padding: 0; }
span.level2 { display: block; margin-left: 15px; padding: 0; }
span.level3 { display: block; margin-left: 30px; padding: 0; }
span.level4 { display: block; margin-left: 45px; padding: 0; }
span.para { display: block; padding: 0; padding-bottom: 10px; }
.title-passage { display: block; font-weight: bold; padding-bottom: 10px; }
sup { line-height: 0 }
sup.footnote, sup.crossreference { font-weight: normal }
.chapternum { float: left; padding-top: 0.3em; font-size: 2.4em; font-weight: bold; }
.introduction .iot { border-bottom: 1px solid; text-transform: uppercase; }
.introduction .io1 { font-size: 0.8em; margin: 0; padding: 8px 5px 8px 20px; }
a.notelink, .footnote a, .crossreference a { text-decoration: none; }
@font-face { font-family: 'annotation'; src: url('annotation.ttf') format('truetype'); }
.icon-footnote:before { font-family: "annotation"; content: '\e800'; } 
.icon-crossreference:before { font-family: "annotation"; content: '\e801'; }
a.notelink { padding: 0 0.2em }
img.note { height: 1em }
@font-face { font-family: 'GentiumPlus'; src: url('GentiumPlus-R.ttf') format('truetype'); }
