*, *::before, *::after { box-sizing: border-box; }
u.person { text-decoration: none; }
.pn, .person, .name, .place { border-bottom: 1px solid; }
span.pn + span.pn, span.name + span.name, span.person + span.person, span.place + span.place { margin-left: 0.2em; }
.add { border-bottom: 1px dotted; }
.addpn { border-bottom: 1px dotted; box-shadow: 0 1px 0; }
.b { font-size: 1em; }
.d { font-style: italic; margin-bottom: 4pt; margin-top: 4pt; }
.ms { font-size: 1.2em; font-weight: bold; text-align: center; margin-bottom: 4pt; margin-top: 16pt; }
.p { text-indent: 0em; }
.qs { font-style: italic; margin-bottom: 0px; }
.r { font-style: italic; margin-top: -2pt; margin-bottom: 4pt; }
.s { font-weight: bold; margin-bottom: 4pt; margin-top: 8pt; }
.s2 { font-style: italic; margin-bottom: 4pt; margin-top: 8pt; }
.sp { font-style: italic; margin-bottom: 4pt; margin-top: 8pt; }
.li, .li1, .q2, .q3 { margin-left: 1em; margin-top: 0em; margin-bottom: 0em }
span.level1 { display: block; margin-left: 0; padding: 0; }
span.level2 { display: block; margin-left: 15px; padding: 0; }
span.level3 { display: block; margin-left: 30px; padding: 0; }
span.level4 { display: block; margin-left: 45px; padding: 0; }
span.para { display: block; padding: 0; padding-bottom: 10px; }
.title-passage { display: block; font-weight: bold; padding-bottom: 10px; }
sup { line-height: 0 }
a.notelink, sup.footnote, sup.crossreference { padding: 0 0.2em; font-size: small }
a.notelink { line-height: 1em; vertical-align: text-top }
.introduction .iot { border-bottom: 1px solid; text-transform: uppercase; }
.introduction .io1 { font-size: 0.8em; margin: 0; padding: 8px 5px 8px 20px; }
a.notelink, .footnote a, .crossreference a, a.r { text-decoration: none; }
@font-face { font-family: 'annotation'; src: url('annotation.ttf') format('truetype'); }
.icon-footnote:before { font-family: "annotation"; content: '\e800'; } 
.icon-crossreference:before { font-family: "annotation"; content: '\e801'; }
img.note { height: 1.3em; vertical-align: text-top; padding: 0 0.2em }
@font-face { font-family: 'GentiumPlus'; src: url('GentiumPlus-R.ttf') format('truetype'); }
.versenum, .chapternum, .chapter sup { font-family: GentiumPlus; }

.chapternum { float: left; font-size: 2em; text-align: right; font-weight: bold; line-height: initial; }

.q1 { margin-top: 0em; margin-bottom: 0em }
.q1 { margin-left: 2em; padding-left: 1em; text-indent: -1em;  }
.q1 .chapternum { width: 1.5em; margin-left: -2em;}
.q1 .chapternum { position: relative; margin-top: -1.5em; top: 1.1em }
.ps-large .q1:first-of-type span.chapternum { width: 2.5em; margin-left: -2.5em; text-indent: 1em }
.ps-large .q1:first-of-type span { margin-left: 1em }
.q1 sup { display: inline-block; margin-left: -3ex; width: 3ex; text-align: right; padding-right: 0.3ex }

.text-html .small-caps { font-variant:small-caps; }
.text-html .center { text-align:center; }
.text-html p.right { margin-left:4em; text-indent:-1em; }
.text-html span.right { margin-left: 2em; }
.text-html i.right { margin-left: 2em; }
span.selah { font-style: italic; margin-left: 2em }
.top-none, .child-vertical-none p { margin-top: 0em; }

.poetry p.line, p.chapter-1 + p, p.chapter-2 + p, p.chapter-3 + p { clear: both }
.poetry p.line span.chapternum + sup.versenum { display: none }
.poetry p.line .indent-1-breaks { display: none }
.poetry p.line .indent-1-breaks + span:before { content: ''; padding-left: 1em }
.poetry p.line .indent-2-breaks { display: none }
.poetry p.line .indent-2-breaks + span:before { content: ''; padding-left: 2em }
.poetry p.line { margin-left: 2em; padding-left: 1em; }
.ps .poetry p.line { margin-left: 1em; }
.ps.no-chapternum .poetry p.line { margin-left: 0em; }
.ps-large.has-chapternum .poetry:first-of-type .line:first-of-type span:first-of-type .chapternum { width: 2.5em; margin-left: -2em; }
.ps-large.has-chapternum .poetry:first-of-type .line:first-of-type span:first-of-type { margin-left: 0.5em }
.poetry p.line > span .chapternum { width: 1.5em; margin-left: -1.5em; }
.poetry p.line > span .chapternum { position: relative; margin-top: -1.5em; top: 1.1em }
.poetry p.line sup.versenum { display: inline-block; margin-left: -3ex; width: 3ex; text-align: right; padding-right: 0.3ex }
.poetry p.line sup.versenum.mid-line { display: inline; margin-left: 0.3ex; width: auto; }

.list .left-1 { padding-left: 1em }
.list .left-2 { padding-left: 2em }
.list .left-3 { padding-left: 3em }
.list .indent-1, .list .hang-1 { text-indent: -1em; padding-left: 1em; }
.list .indent-2, .list .hang-2 { text-indent: -2em; padding-left: 2em; }
.list .indent-3, .list .hang-3 { text-indent: -3em; padding-left: 3em; }
.list .hang-2.chapter-1 > span:first-child { padding-left: 2em }