<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.piebridge.bible"
    android:sharedUserId="me.piebridge.bible">

    <permission
        android:name="me.piebridge.bible.permission.ACCESS"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="me.piebridge.bible.permission.ACCESS" />

    <application
        android:name=".BibleApplication"
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_bible"
        android:label="@string/app_name"
        android:theme="@style/light">

        <activity
            android:name=".Chapter"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/app_name"
            android:theme="@style/light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".activity.VersionsActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/manifest_translation"
            android:parentActivityName=".Chapter"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="me.piebridge.bible.intent.action.DOWNLOAD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:label="@string/manifest_translation_manifest">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="application/zip"
                    android:scheme="file" />

                <data
                    android:host="*"
                    android:mimeType="application/zip"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter android:label="@string/manifest_translation_manifest">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Chapter" />
        </activity>

        <activity
            android:name=".activity.ReadingItemsActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:parentActivityName=".activity.SearchActivity"
            android:theme="@style/light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SearchActivity" />
        </activity>

        <activity
            android:name=".activity.ReadingCrossActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/light.dialog" />

        <activity
            android:name=".activity.SelectActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:parentActivityName=".Chapter"
            android:theme="@style/light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Chapter" />
        </activity>

        <activity
            android:name=".activity.SelectVersionActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:parentActivityName=".Chapter"
            android:theme="@style/light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Chapter" />
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/manifest_settings"
            android:parentActivityName=".Chapter"
            android:theme="@style/light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Chapter" />
        </activity>

        <activity
            android:name=".activity.SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/manifest_search"
            android:parentActivityName=".Chapter"
            android:theme="@style/light"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="me.piebridge.bible.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:label="@string/manifest_search_intent">
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:label="@string/manifest_search_intent">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="@string/manifest_search_intent">
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="@string/manifest_search_intent">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="search"
                    android:path="/"
                    android:scheme="bible" />
                <data
                    android:host="*.biblegateway.com"
                    android:pathPrefix="/passage"
                    android:scheme="http" />
                <data
                    android:host="*.biblegateway.com"
                    android:pathPrefix="/passage"
                    android:scheme="https" />
                <data
                    android:host="*.biblica.com"
                    android:pathPrefix="/bibles/chapter"
                    android:scheme="http" />
                <data
                    android:host="*.biblica.com"
                    android:pathPrefix="/bibles/chapter"
                    android:scheme="https" />
                <data
                    android:host="bibles.org"
                    android:pathPrefix="/search/"
                    android:scheme="http" />
                <data
                    android:host="bibles.org"
                    android:pathPrefix="/search/"
                    android:scheme="https" />
                <data
                    android:host="*.bibles.org"
                    android:pathPrefix="/search/"
                    android:scheme="http" />
                <data
                    android:host="*.bibles.org"
                    android:pathPrefix="/search/"
                    android:scheme="https" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Chapter" />
        </activity>

        <activity
            android:name=".activity.ResultsActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:parentActivityName=".activity.SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SearchActivity" />
        </activity>

        <activity
            android:name=".activity.HighlightActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:label="@string/menu_highlight"
            android:parentActivityName=".Chapter"
            android:theme="@style/light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Chapter" />
        </activity>

        <activity
            android:name=".activity.NotesActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:label="@string/menu_notes"
            android:parentActivityName=".Chapter"
            android:theme="@style/light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Chapter" />
        </activity>

        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:parentActivityName=".Chapter"
            android:theme="@style/light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Chapter" />
        </activity>

        <activity
            android:name=".activity.PlanActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:parentActivityName=".Chapter"
            android:theme="@style/light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Chapter" />
        </activity>

        <activity
            android:name=".activity.AboutActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:parentActivityName=".Chapter"
            android:theme="@style/light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Chapter" />
        </activity>

        <provider
            android:name=".provider.VersionProvider"
            android:authorities="me.piebridge.bible.provider"
            android:permission="me.piebridge.bible.permission.ACCESS" />

        <provider
            android:name=".provider.SearchProvider"
            android:authorities="me.piebridge.bible.provider.search"
            android:permission="me.piebridge.bible.permission.ACCESS" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <receiver android:name=".receiver.DownloadReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data
                    android:host="24253"
                    android:scheme="android_secret_code" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
